*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    height: 100hv;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    border: solid 2px #000;
}
.image{
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 240px;
    width: auto;
}
h3, p, h2{
    text-align: center;
    color: #444;
}
p{
    margin-top: 10px;
    padding: 0px 5px;
}
h2{
    margin-top: 10px;
    color: #00cbfe;
}
.box{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00cbfe;
}
button{
    border: none;
    background: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
button:hover{
    background-color: aqua;
}