html{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    margin: 0;
    overflow-x: hidden;
    height: 100hv;
}

 @media(max-width: 991px) {
    .cont .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
} 

a.isotipo.navbar-brand.fs-4{
    color: rgb(212, 175, 55);
}

div.logotipo{
    background-color: #DBCAB8;
    color: #555048;
    height: 40px;
    text-align: center;
    font-family: serif;
    letter-spacing: .2em;
    font-size: 20px;
    line-height: 36px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}


.card{
    margin-top: 30px;
}

div .card{
    border: 0;
}

.card-img-top{
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, p, h2{
    text-align: center;
    padding-top: 38px;
    font-family: Muli, sans-serif;
    line-height: 23px;
    color: #202223;
}
p{
    margin-top: 10px;
    padding: 0px 5px;
}
.card-body h2{
    margin-top: -40px;
    color: #6E7276;
    font-size: 19px;
}
.card-body a{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .cont{
    background-color: #000;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 85px;
}

::-webkit-scrollbar{
    width: .8rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 30%);
}

div .encabezado{
    transform: translate(38%);
    padding-top: 10px;
}

footer.footer{
    background-color: #000;
    color: white;
    height: 36px;
    text-align: center;
    font-family: Muli, sans-serif;
    letter-spacing: .2em;
    font-size: 16px;
    line-height: 36px;
}

/* Detalle Producto */
.content{
    padding: 1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.details-image{
    flex: 2 1 60rem;
    display: flex;
}
.details-image img{
    max-width: 60rem;
    width: 620px;
}
div .details-info{
    padding-left: 1rem;
}
.details-info, .details-action{
    flex: 1 1 30rem;
}
.details-info ul, .details-action ul {
    padding: 0;
    list-style-type: none;
}
.details-info h1{
    font-size: 2rem;
    margin: 0;
}
.details-info li, .details-action li {
    margin-bottom: 1rem;
}
.details-action{
    border: 0.1rem #6E7276 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
    height: 12rem;
}
button{
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
}
button:hover{
    border: 0.1rem #404040 solid;
}
button.primary{
    background-color: rgb(212, 175, 55);
}
.fw{
    width: 100%;
}
.success{
    color: #40c040;
}
.error{
    color: #c04040;
}

/* Carrito de compras */
ul #carritoLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#carritoLista li{
    list-style: none;
    width: 90%;
    border: 1px solid #c1c2ca;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
}


ul .textContainer {
    justify-content: space-between;
    display: flex;
}

ul li div div {
    padding-left: 12rem;
}

.contentContainer {
    display: flex;
}

.buttonsContainer{
    display: flex;
    align-items: center;
}
